<nav class="navbar navbar-expand-lg navbar-dark bg-dark"  *ngIf="userService.usuario">
    <a class="navbar-brand" routerLink="/home">Gestão de salas</a>
    <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='#navbarNav'
        [attr.aria-expanded]='isExpanded' (click)='toggle()'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='navbar-toggler-icon'></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Salas <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/adminPanel">Painel Administrador</a>
            </li>

        </ul>
        <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="Logout()">Olá, {{userService.usuario.nome}}</a>
                </li>

                <button class="btn btn-outline-success my-2 my-sm-0" (click)="Logout()">Sair</button>
            </ul>

        </div>
    </div>
</nav>
<br>